<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="http://localhost:3000/">Sketchy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="navexplorebtn" href="/sketches">Explore</a>
        </li>
      </ul>
      <% if(currentUser) { %>
        <span id="loggedinas"><%= "Logged in as: " + currentUser.name %></span>
        <a class="nav-link nav-item my-2 my-md-0" id="navlogoutbtn" href="/logout">Logout</a>
      <% } else { %>
        <a class="nav-link nav-item my-2 my-md-0" id="navloginbtn" href="/login">Login</a>
        <a class="nav-link nav-item my-2 my-md-0" id="navsignupbtn" href="/login">Sign Up</a>
      <% } %>
    </div>
  </nav>