  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #444;" >
      <a class="navbar-brand btn" href="/" style="font-size: 30px; color:white;">Sketchy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:white;">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"  >
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" >
          <li class="nav-item active">
            <a class="nav-link" href="/sketches" style="font-size: 20px; color:#fff; margin:8px;">Explore <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sketches/new" style="font-size: 20px; color:#fff; margin:8px;">New Sketchy</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">TDB</a>
          </li> -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ea4c89">
              <% if(currentUser) { %>
            <div id="loggedinas" style="font-size: 20px; color: #ea4c89;  margin:8px;"><%= "Hello " + currentUser.name %></div>
            <!-- <a class="nav-link nav-item my-2 my-md-0" id="navlogoutbtn" href="/logout">Logout</a> -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:#444">
              <a class="dropdown-item" href="/profile" style="color:#ea4c89">Go My Sketchy</a>
              <a class="dropdown-item" href="/profile/edit" style="color:#ea4c89">Edit My Profile</a>
              <form action="/users/<%= currentUser.id%>?_method=DELETE" method="POST">
              <input onclick="return confirm('Are you sure you want to delete it?')"class="dropdown-item" type="submit" value="Delete My Profile" style="color:#ea4c89">
             </form>
            </div>
          <% } else { %>
            <a class="nav-link nav-item my-2 my-md-0" id="navloginbtn" href="/login">Log in</a>
            <a class="nav-link nav-item my-2 my-md-0" id="navsignupbtn" href="/signup">Sign Up</a>
          <% } %>
          </li>
          <li>
            <a class="nav-link nav-item my-2 my-md-0" id="navlogoutbtn" href="/logout" style="font-size: 20px;  margin:8px; padding: 15px 0 0 0;">Logout</a>
          </li>
        </ul>
      </div>
    </nav>