<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Sketchy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" id="navexplorebtn" href="/sketches">Explore</a>
        </li>
      </ul>
      <% if(currentUser) { %>
        <span id="loggedinas"><%= "Hello " + currentUser.name %></span>
        <a class="nav-link nav-item my-2 my-md-0" id="navlogoutbtn" href="/logout">Logout</a>
      <% } else { %>
        <a class="nav-link nav-item my-2 my-md-0" id="navloginbtn" href="/login">Login</a>
        <a class="nav-link nav-item my-2 my-md-0" id="navsignupbtn" href="/signup">Sign Up</a>
      <% } %>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/">Sketchy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav" >
          <li class="nav-item active">
            <a class="nav-link" href="/sketches">Explore <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sketches/new">Create a New Sketchy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TDB</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <% if(currentUser) { %>
            <div id="loggedinas"><%= "Hello " + currentUser.name %></div>
            <a class="nav-link nav-item my-2 my-md-0" id="navlogoutbtn" href="/logout">Logout</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/profile">Go My Sketchy</a>
              <a class="dropdown-item" href="/profile/edit">Edit My Profile</a>
              <form action="/users/<%= currentUser.id%>?_method=DELETE" method="POST">
              <input onclick="return confirm('are you sure?')"class="dropdown-item" type="submit" value="Delete My Profile">
             </form>
            </div>
          <% } else { %>
            <a class="nav-link nav-item my-2 my-md-0" id="navloginbtn" href="/login">Login</a>
            <a class="nav-link nav-item my-2 my-md-0" id="navsignupbtn" href="/signup">Sign Up</a>
          <% } %>

            </a>
            
          </li>
        </ul>
      </div>
    </nav>