<div margin: 10px 0px 0px 0px>
<h1 class="text-center" style="color:#4E4846; margin: 10px 0 10px 0;">Best of Sketchy</h1>
<% sketches.forEach(function(sketch){ %>
    <% include sketch %>
<% }) %>
</div>
