<% include sketch %>


<% if(user.id === sketch._by.id){ %>
    <button onclick="window.location.href='/sketches/<%= sketch.id%>/edit?_method=PATCH'">Edit</button>
<% } %>


<button onclick="window.location.href='/sketches'">go back</button>

