
<% if(user.id === sketch._by){ %>
    <button onclick="window.location.href='/sketches/<%= sketch.id%>/edit?_method=PATCH'">Edit</button>
    <button onclick="window.location.href='/users/<%=user.id %>'">See My Gallery</button>
<% } else { %>
    <button onclick="window.location.href='/users/<%=sketch._by.id %>'">See User Gallery</button>
<% } %>

<% include sketch %>





