<div id="main-container">

<!-- giphy -->
<div id="giphy-box" style="float:left">
<button id="random-btn">Get random Image</button>
<div>
        <input type="text" id="search-term" placeholder="search">
        <button id="search-btn">Search</button>
</div>
<div id="giphy-image-container"></div>

<form id="giphy-form" method="post" action="/sketches">
    <input id="url-field" type="hidden" name="giphy_url" />
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="tag" placeholder="Add a tag" />
    <input id="sketchy-url-field" type="hidden" name="imgUrl" />
    <button id="save-btn">Save My Sketchyyyyy</button>
</form>
</div>

<!--user canvas-->
<div id="sketchy-box" style="float:right">
<div id="canvas-image-container">
    <canvas id="myCanvas" width="600" height="600"></canvas>
</div>

<button id="undo-btn">Undo</button>
<button id="clear-btn">Clear</button>
<input type="color" id="color-picker">
<input type="range" id="brush-size" min="1" max="50" value="10">

</div>
</div>
<script src="/js/app.js"></script>
