<div id="main-container">

    <!-- giphy -->
    <div id="giphy">
        <div id="giphy-box">
            <button id="random-btn"class="btn btn-lg" style="background-color:#FDBD4C; color: white; padding:0.2rem 3.8rem;">Get a random Image</button> <br>
            <span style="margin: 0px 0px 0px 10px"> or </span> 
            <span>
                    <input class="form-control" type="text" id="search-term" placeholder="search">
                    <button id="search-btn" class="btn btn-lg" style="background-color:rgb(99, 150, 252); color:white; padding:0.2rem 7.4rem;">Search</button>
            </span>  
            <div id="giphy-image-container"></div> 
        </div>
        <div>
            <form id="giphy-form" method="post" action="/sketches">
                <input class="form-control" type="text" name="title" placeholder="Title" />
                <input class="form-control" type="text" name="tag" placeholder="Add a tag" />
                <input id="sketchy-url-field" type="hidden" name="imgUrl" />
                <input id="url-field" type="hidden" name="giphy_url" />
                <button class="btn btn-lg" style="background-color: #ea4c89; color:white; padding:0.2rem 4.7rem;">Save My Sketchy</button>
            </form>
        </div>
    </div>

    <!--user canvas-->
    <div id="canvas">
        <div id="sketchy-box" style="float:right">
            <div id="canvas-image-container">
                <canvas id="myCanvas" width="600" height="600"></canvas>
            </div>

            <button id="clear-btn" class="btn" style="background-color:#67CCC7; color: white">Clear</button>
            <button id="undo-btn" class="btn" style="background-color:#EC4C53; color:white;">Undo</button>
            <input type="color" id="color-picker">
            <input type="range" id="brush-size" min="1" max="50" value="10">

        </div>
    </div>
</div>
<script src="/js/app.js"></script>
