
<!-- giphy -->
<button id="random-btn">Get random Image</button>
<div>
        <input type="text" id="search-term" placeholder="search">
        <button id="search-btn">Search</button>
</div>
<div id="giphy-image-container">
    <img src="https://media.giphy.com/media/4Iw2OzgiiTc4M/giphy.gif" />
</div>

<form id="giphy-form" method="post" action="/sketches">
    <input id="url-field" type="hidden" name="imgUrl" />
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="tag" placeholder="Add a tag" />
    <button>Save Image</button>
</form>

<script>
    $('#giphy-form').on('submit', function(evt) {
        var imgUrl = $('#giphy-image-container').children('img').first().attr('src')
        console.log(imgUrl)
        $('#url-field').val(imgUrl)
    })
</script>

<!--user canvas-->
<canvas id="myCanvas" width="300" height="300"></canvas>

<script src="/js/app.js"></script>
