
<div id="HeroImage-container" >
    <div style="margin: 0px 0px 40px 0px;">
        <h4>
            Sketchy is a fun web app that you can pick a random or search GIPHY impage as your inspiration to sketch.
        </h4>
    </div>
    <img class="hero-img-left" src="https://media2.giphy.com/media/3ohzAcGcVRJghfd9sI/giphy.gif" alt="Card image cap">
    <img class="hero-img-right" src="https://photos-5.dropbox.com/t/2/AAA7vPsyznbgrbvXGxvw4xKgh5Qye6nDktmR0d1JlM-DGQ/12/547986549/png/32x32/1/_/1/2/sketchy2.png/EIW9zrEEGN5HIAIoAg/bAhwQ6H9AoEzh5rYjo_-Gaz8x2ZDqG9CuCMi2yMzhww?preserve_transparency=1&size=2048x1536&size_mode=3">
</div>