<!-- Philippe's OG Layout.ejs code -->
<!DOCTYPE html>
<html>
<head>
	<title>Passport Authentication Practice</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
	<meta http-equiv="Content-Security-Policy" content="img-src 'self' data:">
</head>
<body>
	<div class="container">
		<%- body %>
	</div>
</body>
</html>