<!-- Philippe's code from passport class -->
<div>
    <div class="mx-auto form-group" style="width: 300px; margin: 1rem;">
        <h4 style="color:#4E4846">Log in</h4>

        <form action="/login" method="post">
            <div class="form-group">
                <label style="color:#4E4846">Email</label>
                <input type="text" class="form-control " name="email">
            </div>
            <div class="form-group">
                <label style="color:#4E4846">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-lg btn-block" style="background-color: #ea4c89; color: white; margin: 30px 0 0 0; padding:0.2rem 0rem;" >Log in</button>
        </form>

        <hr>

        <!-- <h2>Or Login With <a href="/auth/facebook" class="btn btn-primary btn-lg">Facebook</a></h2> -->

        <!-- <p>Or, <a href="/signup">Signup</a></p>
        <p>Go back <a href="/">home</a>.</p> -->

    </div>
</div>