<!-- Philippe's code from Example -->
<div class="mx-auto form-group" style="width: 300px; margin: 1rem;">


    <h3 style="color: #4E4846;">Sign up</h3>
     <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>


    <form action="/signup" method="post">
        <div class="form-group">
            <label style="color:#4E4846">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label style="color:#4E4846">Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label style="color:#4E4846">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-lg btn-block" style="background-color: #ea4c89; color:#fff; margin: 30px 0 0 0; padding:0.2rem 0rem;">Sign up</button>
    </form>

    <hr>

    <h6 style="color:#4E4846">Or </h6>
    <h6 style="color:#4E4846">Login With <a href="/auth/facebook" class="btn btn-danger btn-lg;" >Google+</a></h6>
    <h6 style="color:#4E4846">Already a member? <a href="/login" style="color:#EC4C53;">Log in</a></h6>

    <!-- <p>Go back <a href="/">home</a>.</p> -->

</div>