<form method="post" action="/users/<%= user.id %>?_method=PATCH">
    
<div class="mx-auto form-group" style="width: 200px; margin: 1rem;" >
        <h5>Edit Your Profile</h5>

    <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control"  aria-describedby="emailHelp" name="name" value="<%= user.name %>">
    <div class="form-group"></div>
        <label form="email">Email</label>
        <input type="text" class="form-control"  value="<%= user.email %>">
    <div class="form-group"></div>
    <button class="btn" style="background-color:#F7D841; color:#4E4846;">Confirm Update</button>
    </div>
    </div>
    
       
       
    </form>
</div>
